version: '3.8'

services:
  redis:
    image: redis:6-alpine
    container_name: redis
    networks:
      qkd_network:
        ipv4_address: 172.18.0.2
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  node-a:
    build:
      context: ..              # Build from Project Root
      dockerfile: docker/Dockerfile
    container_name: node-a
    volumes:
      - ./node-a/.qkd:/root/.qkd
    environment:
      - KMS_URL=http://localhost:8095
      - TARGET_IP=172.18.0.4
      - TARGET_PORT=12345
    networks:
      qkd_network:
        ipv4_address: 172.18.0.3
    depends_on:
      redis:
        condition: service_healthy

  node-b:
    build:
      context: ..              # Build from Project Root
      dockerfile: docker/Dockerfile
    container_name: node-b
    volumes:
      - ./node-b/.qkd:/root/.qkd
    environment:
      - KMS_URL=http://localhost:8095
    networks:
      qkd_network:
        ipv4_address: 172.18.0.4
    depends_on:
      redis:
        condition: service_healthy
      node-a:
        condition: service_healthy

networks:
  qkd_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16